html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #c88a32;
  padding: 0;
  margin: 0;
}
body .containsAll {
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  width: 70%;
  height: 100%;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: inherit;
}
nav {
  display: flex;
  background-color: #9a3c3e;
  justify-content: space-around;
  justify-self: flex-start;
}
nav img {
  height: 5em;
}
.sidebar {
  background-color: #c54144;
}
.sidebar button {
  margin: 1em;
}
.container {
  display: flex;
}
.mainContent {
  background-color: #f04f52;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}
.mainContent .mainTop {
  display: flex;
  justify-content: space-between;
}
.mainContent .mainTop img {
  width: 30em;
}
.mainContent .mainTop .mainLeft {
  width: 40%;
}
.mainContent .mainTop .mainRight {
  width: 40%;
}
.moreImage {
  width: 100%;
  height: 10em;
  background-image: url("../images/US-Flag.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.footer {
  background-color: #9a3c3e;
  justify-self: flex-end;
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 680px) {
  body,
  html {
    height: auto;
  }
  body .containsAll {
    width: 100%;
    margin: 0;
  }
  body .containsAll .mainContent .mainTop .mainLeft img {
    height: auto;
    width: 15em;
  }
  body .containsAll nav {
    width: 100%;
  }
  body .containsAll nav a img {
    height: auto;
    width: 5em;
  }
  body .containsAll .mainTop {
    flex-direction: column;
    align-items: center;
  }
  body .containsAll .mainContent .mainTop .mainLeft,
  body .containsAll .mainContent .mainTop .mainRight {
    width: 90%;
    text-align: center;
  }
}
@media only screen and (max-width: 1307px) {
  body .mainContent .mainTop .mainLeft img {
    height: auto;
    width: 15em;
  }
}
