@myBlack: #000000;
@myGray: #202020;
@myPink: #f04f52;
@myRed: #9a3c3e;
@myYellow: #c88a32;
@darkPink: #c54144;


html,body {
  width: 100%;
  height: 100%;
}
body {

  background-color: @myYellow;
  .containsAll{
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    width: 70%;
    height: 100%;
    margin: 0 auto;
  }

  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
nav {
  display: flex;
  background-color: @myRed;
  justify-content: space-around;
  justify-self: flex-start;
  img {
    height: 5em;
  }

}
.sidebar {
  background-color: @darkPink;
  button {
    margin: 1em;
  }
}
.container{
  display: flex;
}
.mainContent {
  background-color: @myPink;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  .mainTop {
    display: flex;
    justify-content: space-between;
    img {
      width: 30em;
    }
    .mainLeft {
      width: 40%;
    }
    .mainRight {
      width: 40%;
    }
  }
}
.moreImage {
  width: 100%;
  height: 10em;
  background-image: url("../images/US-Flag.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.footer {
  background-color: @myRed;
  justify-self: flex-end;
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 380px){
  body .containsAll {
    width: 100%;
    margin: 0;
    .mainContent .mainTop .mainLeft img {
      height: auto;
      width: 15em;
    }
    nav {
      width: 100%;
    }
    nav a img {
      height: auto;
      width: 5em;
    }
    .mainTop {
      flex-direction: column;
    }
  }
}